/* This page contains all of the stylesheets for the webpages of Eco-Solve. */
body {
    background-color: #ddffdd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;    
}
canvas {
    border: 1px solid black;
}
#navbar {
    width: 70%;
    height: 50px;
    background-color: #aaffaa;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
#box{
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 800px;
}