.scrollable-menu {
    width:window; 
    height:40px ;
    background-color:lightgrey;
    overflow: auto;
    white-space: nowrap;
    width: window;
    height: 5%;
    background-color: lightgrey;
}
.scrollable-menu a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.rectangle {
    width: window;
    height: 100px;
}

canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}